@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Marlboro";
  src: url("/fonts/Marlboro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeuveGrotesque";
  src: url("/fonts/NeuveGrotesque-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "8bitOperator";
  src: url("/fonts/8bitOperator-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ndot47";
  src: url("/fonts/ndot-47-inspired-by-nothing.otf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AdvancedLed";
  src: url("/fonts/advanced_led.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Marlboro, sans-serif;
  --font-neuve: NeuveGrotesque, sans-serif;
  --font-mono: "8bitOperator", monospace;
  --font-ndot: "Ndot47", sans-serif;
  --font-advancedled: "AdvancedLed", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: #141313;
  --foreground: #d1caca;
  --card: oklch(0.23 0 17.58);
  --card-foreground: oklch(0.72 0.01 17.58);
  --popover: oklch(0.22 0 17.52);
  --popover-foreground: oklch(0.85 0.01 17.54);
  --primary: oklch(0.66 0.22 26.14);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.62 0.02 214.46);
  --muted: oklch(0.39 0 0);
  --muted-foreground: oklch(0.67 0.02 17.82);
  --accent: oklch(0.84 0.07 10.49);
  --accent-foreground: oklch(0.2 0 0);
  --destructive: oklch(0.66 0.22 26.14);
  --border: oklch(0.92 0 0);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.71 0 0);
  --chart-1: oklch(0.65 0.22 36.85);
  --chart-2: oklch(0.6 0.11 184.15);
  --chart-3: oklch(0.4 0.07 227.18);
  --chart-4: oklch(0.83 0.17 81.03);
  --chart-5: oklch(0.77 0.17 65.36);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.14 0 0);
  --sidebar-primary: oklch(0.2 0 0);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.2 0 0);
  --sidebar-border: oklch(0.92 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #141313;
  --foreground: #d1caca;
  --card: oklch(0.23 0 17.58);
  --card-foreground: oklch(0.72 0.01 17.58);
  --popover: oklch(0.22 0 17.52);
  --popover-foreground: oklch(0.85 0.01 17.54);
  --primary: oklch(0.66 0.22 26.14);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.62 0.02 214.46);
  --muted: oklch(0.39 0 0);
  --muted-foreground: oklch(0.67 0.02 17.82);
  --accent: oklch(0.84 0.07 10.49);
  --accent-foreground: oklch(0.2 0 0);
  --destructive: oklch(0.66 0.22 26.14);
  --border: oklch(0.92 0 0);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.71 0 0);
  --chart-1: oklch(0.65 0.22 36.85);
  --chart-2: oklch(0.6 0.11 184.15);
  --chart-3: oklch(0.4 0.07 227.18);
  --chart-4: oklch(0.83 0.17 81.03);
  --chart-5: oklch(0.77 0.17 65.36);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.14 0 0);
  --sidebar-primary: oklch(0.2 0 0);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.2 0 0);
  --sidebar-border: oklch(0.92 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
